.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://static2.wallpedes.com/wallpaper/wallpapers/wallpapers-and-in-the-evening-nashville-tennessee-hd-travel-photos-downtown-nashville-wallpaper-campbellsville-ky-desktop-stores-toronto-dallas-chicago-detroit-downton-abbey-seattle-grantham.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #000000;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron a {
  color: #00CCFF;
}

.jumbotron p {
  font-size: 20px;
  color: #101010;
}


.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.about-section {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}
.about-section h2 {
    color: #393c3d;
    font-size: 24px;
}

.about-section p {
    font-size: 15px;
    margin-bottom: 13px;
}